{{ define "main" }}

<script>

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
	
	var cookie = readCookie('consent-settings');


	if(!cookie){
		window.location.href = '/pages/github'; 
	}else if(cookie[1] < 1){
		window.location.href = '/pages/github'; 
	}



</script>
	<section class="container-fluid">
		<div class="container-xl">
			<div class="row">
				<div class="ppp-col-12">
					<div class="ppp-col-standard">
						
			
								<h1 class="medium-h1">{{ .Title }}</h1>
								<div class="pt-3 social-snippet">
									{{ .Params.snippet }}
								</div>	
				
						</div>
					</div>
				</div>
			</div>
	</section>	

	<section class="container-fluid backgrounded background-primary">
		<div class="container-xl">
			<div class="row">
				<div class="ppp-col-12">

						
					<script src="https://gist.github.com/{{ .Params.gist_id}}.js"></script>
	
						
					
				</div>
			</div>
		</div>
	</section>
  
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
