	<section class="container-fluid backgrounded background-dimgray">
		<div class="container-xl">
			<div class="row">
				<div class="ppp-col-12 ppp-col-md-6">
					
					<h4>Funding Acknowledgement</h4>
					<p>The development of PPI has been possible due to the funding of the <a href="https://www.ukri.org/councils/epsrc/">Engineering and Physical Sciences Research Council (EPSRC)</a>, the <a href="https://www.ukri.org/councils/esrc/">Economic and Social Research Council (ESRC)</a>, and the <a href="https://www.undp.org/">United Nations Development Programme</a>.</p>

								
				</div>
			</div>
		</div>
	</section>		
	<section id="footer-site-info" class="container-fluid background-black">
		<div class="container-xl">
			<div class="row">
				<div class="ppp-col-12">
					<nav class="ppp-standard">
						<ul class="mb-3">
							<li>© <a href="https://turing.ac.uk">The Alan Turing Institute</a> 2024 &nbsp; | &nbsp; </li>
							<li> &nbsp; <a class="manage-consent">Cookie settings</a> &nbsp; |  &nbsp;</li>
							<li> &nbsp; <a href="https://www.turing.ac.uk/privacy-policy">Privacy Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>			
	</section>
	
{{ partial "consent.html" . }}

<script id="po" src="xx.js"></script>


