{{ define "main" }}


	<section class="container-fluid backgrounded background-white">
		<div class="container-xl">
			<div class="row">
				<div class="ppp-col-12">
					<div class="ppp-col-standard">
					
			
								<h1>404</h1>
								
									<div class="pt-3 social-snippet">
										Sorry, this page does not exist. If you have followed a link on the site that has led to this page, please <a href="mailto:jgilbert@turing.ac.uk">let us know</a>. 
									</div>	
								
						</div>
					</div>
				</div>
			</div>
	</section>	

{{ end }}
