<div tabindex="0" class="row accordion-row-head accordion accordion-closed py-4">
<div class="accordion-name ppp-col-11">													
<div>
<h3>
{{.Get "accordion-title"}}
</h3>
</div>
</div>
<div class="down-button">
<div class="stroke-container">	
<div class="vertical-stroke"></div>
<div class="horizontal-stroke"></div>
</div>
</div>
</div>
<div class="accordion-row-text ">
<div class="row">
<div class="ppp-col-12">
<div class="ppp-col-standard pt-5">
<p>
{{.Inner}}
</p>
</div>		
</div>
</div>
</div>

									
											